.product-form-container{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.form-title{
  font-size: 26px;
  font-weight: 500;
}
.photo-input, .listing-details, .inventory-pricing{
  border-radius: 3px;
  background-color: #FFF;
  border: 1px solid #E1E3DF;
  border-bottom-color: #CBCCC9;
  margin: 0 0 12px;
  padding: 12px;
  margin-bottom: 12px;
  font-size: 14px;
  line-height: 1.4;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.listing-details{
  flex-direction: column;
  flex-wrap: wrap;
}
.ld-pairs{
  display: flex;
  justify-content: space-between;
  
}
.ld-pairs > *{
  margin: 10px;
  width: 50%;
  padding: 0;
}
.photo-label, .listing-details-text, .inv-price-text{
  font-weight: 500;
  font-size: 18px;
}

.photo-but-container{
  height: 146px;
  width: 146px;
  background-image: asset-url("addPhoto.JPG");
  background-size: contain;
  border-radius: 3px;
  display: flex;
  justify-content: center;
  padding: 2px;
  background-color: #FFF;
  border: 1px solid #E1E3DF;
  border-bottom-color: #CBCCC9;
  &:hover{
    border: 1px solid #f1651f;
  }
}

.photo-select-but{
    opacity: 0;
    z-index: 20;
    padding: 0px;
    margin: 0;
    height: 146px;
    width: 146px;
    cursor: pointer;
    position: absolute;
  
}
#file-upload-button{
  height: 0px;
  width: 0px;
}
.preview-image{
  max-height: 146px;
  max-width: 146px;
  margin:  auto;
}


.listing-details-title-text-area{
  
}