// Place all the styles related to the api/orders controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.cart-container{
display: flex;
justify-content: center;
}

.items-in-cart{
  margin-left: 30px;
  margin-top: 50px;
  color: rgb(22, 22, 22);
  display: block;
  font-family: "Graphik Webfont",-apple-system,"Helvetica Neue";
  letter-spacing: 0.5px;
  font-size: 28px;
  line-height: 28px;
  height: 36px;;
}

.cart-item-container{
  align-items: center;
  margin-top: 20px;
  margin-left: 20px;
  display: flex;
  // width: 50%;
  height: auto;
  border-bottom: solid rgb(194, 194, 194) 1px;
  font-size: 16px;
  color: rgb(34, 34, 34);
  font-family: "Graphik Webfont",-apple-system,"Helvetica Neue";
  justify-content: space-between;
}

.cart-info{
  display: flex;
  flex-direction: column;
  align-items: left;
  max-width: 300px;
}

.product-total{
box-sizing: border-box;
color: rgb(34, 34, 34);
display: block;
font-family: "Graphik Webfont", -apple-system, "Helvetica Neue", "Droid Sans", Arial, sans-serif;
font-size: 14px;
height: 48px;
line-height: 19.6px;
list-style-image: none;
list-style-position: outside;
list-style-type: none;
margin-bottom: 0px;
margin-left: 0px;
margin-right: 0px;
margin-top: 0px;
max-width: 80px;
position: relative;
text-align: left;
text-size-adjust: 100%;
transition-delay: 0s;
transition-duration: 0.2s;
transition-property: all;
transition-timing-function: ease-out;
width: 80px;
-webkit-font-smoothing: antialiased;
border: 1px;
}

.total-select{
  text-align: center;
  transition: border-color 200ms ease-out,box-shadow 200ms ease-out;
  box-shadow: 0 1px 6px 0 rgba(34, 34, 34, 0.15);
  display: block;
  font-family: inherit;
  font-size: 16px;
  height: 48px;
  padding-left: 12px;
  padding-right: 36px;
  width: 100%;
  border-radius: 6px;
  background: #FFFFFF;
  border-color: rgba(34, 34, 34, 0.15);
  border-style: solid;
  border-width: 1px;
  color: #222222;
  text-indent: 0.01px;
  text-overflow: "";
  cursor: pointer;
  white-space: pre;
  min-width: 80px;
  content: "";
}

.total-select{
  -webkit-appearance: none;
  background: url(http://cdn1.iconfinder.com/data/icons/cc_mono_icon_set/blacks/16x16/br_down.png) no-repeat right rgb(255, 255, 255);
  background-size: 20%;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-position-x: 54px;
}

.select-and-remove{
  display: flex;
  flex-direction: column;
  padding: 50px;
  align-items: center;
}
.select-and-remove > *{
  margin-top: 20px;
}
.card-and-info{
  display: flex;
  align-items: center;
  justify-content: left;
}

.checkout-box{
  border-bottom-left-radius: 18px;
  border-bottom-right-radius: 18px;
  border-top-left-radius: 18px;
  border-top-right-radius: 18px;
  box-shadow: rgba(34, 34, 34, 0.15) 0px 4px 20px 0px;
  box-sizing: border-box;
  color: rgb(34, 34, 34);
  display: block;
  font-family: "Graphik Webfont", -apple-system, "Helvetica Neue", "Droid Sans", Arial, sans-serif;
  font-size: 16px;
  font-weight: 700;
  height: 495.866px;
  line-height: 19.6px;
  margin-bottom: 0px;
  margin-left: 0px;
  margin-right: 0px;
  margin-top: 0px;
  overflow-x: hidden;
  overflow-y: hidden;
  padding-bottom: 18px;
  padding-left: 18px;
  padding-right: 18px;
  padding-top: 18px;
  text-align: left;
  text-size-adjust: 100%;
  width: 364.972px;
  -webkit-font-smoothing: antialiased;
  margin-left:36px;
  margin-top: 66px;
}

.subtotals{
  display: flex;
  justify-content: space-between;
  margin: 15px;
}

.subtotal-actual{
  font-weight: normal;
}
.card1 {
  height: 33px;
  width: 200px;
  background: asset-url("cards1.JPG");
  background-size: cover;
  background-repeat: no-repeat;
}
.card2 {
  height: 33px;
  width: 50px;
  background: asset-url("cards2.JPG");
  background-size: cover;
  background-repeat: no-repeat;
}
.card3 {
  height: 33px;
  width: 200px;
  background: asset-url("cards3.JPG");
  background-size: cover;
  background-repeat: no-repeat;
}
.radio-pay{
  display: flex;
}

.dividing-bar{
  width: 100%;
  height: 1px;
  border-top: solid rgb(194, 194, 194) 1px;
}
.fine-print{
  margin-top: 20px;
  font-weight: lighter;
  font-size: 14px;
  text-align: center;
}
.order-title{
  font-weight: 400;
  font-size: 16px;
  font-family: "Graphik Webfont",-apple-system,"Helvetica Neue","Droid Sans",Arial,sans-serif;

}
.order-description{
  font-family: "Graphik Webfont",-apple-system,"Helvetica Neue","Droid Sans",Arial,sans-serif;
  font-weight: 400;
  font-size: 13px;
  line-height: 18px;
}

.total-per-item{
 font-weight: 700;
  font-size: 18px;
  color: #222222;
}

.per-item{
  margin-top: 5px;
  font-size: 14px;
  color: #999999;
}

.free{
  color: green;
}

.tiny-text{
  margin-top: -10px;
  margin-left: 15px;
  font-size: 10px;
  color: #999999;
}

.purchased-form{
  padding: 5px;
  font-size: 14px;
}
.purchase-form-outer-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.purchase-form-outer-container > *{
  text-align: center;
}

.aspca-link {

  height: 100px;
  width: 100px;
  background: asset-url("aspca.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.aspca-link:hover {
  box-shadow: inset 0 0 100px 100px rgba(255, 255, 255, 0.205);
}

.project-links{
  display: flex;
  justify-content: space-between;

}

.project-links > *{
  margin-right: 20px;
  margin-top: 20px;
}

.gnome-link {
  height: 100px;
  width: 130px;
  background: asset-url("gnome.gif");
  background-size: cover;
  background-repeat: no-repeat;
}

.gnome-link:hover {
  box-shadow: inset 0 0 100px 100px rgba(255, 255, 255, 0.205);
}
.arium-link {
  height: 118px;
  width: 100px;
  background: asset-url("arium.gif");
  background-size: cover;
  background-repeat: no-repeat;
}

.arium-link:hover {
  box-shadow: inset 0 0 100px 100px rgba(255, 255, 255, 0.205);
}

.center-text{
  margin-left: 10px;
  text-align: right;
}

.empty-cart{
  font-size: 30px;
  margin: 40px;
}