// Place all the styles related to the api/reviews controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.review-items-container{
  margin-top: 20px;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  margin-left: 18%;
  margin-right: 18%;
  min-height: 500px;
  max-width: 1200px;
}

.review-title {
  font-size: 26px;
  font-family: 'Guardian-EgypTT', serif;
  margin-bottom: 10px;

}

.review-item-card{
  padding: 10px;
  padding-left: 20px;
}

.review-info{

}

.rating-container{

}

.rating-stars1{

}

.rating-stars2{

}

.title-container{

}

.title-outer1{

}

.title-inner2{

}

.body-container{

}

.body-outer1{

}

.body-inner2{

}
.review-pair{
  display: flex;
  justify-content: flex-start;
  // border: solid black 1px;
  max-width: 500px;
}
