// Place all the styles related to the api/sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.error-img{
background-image: asset-url('etsyUhOhpage.JPG');
  background-repeat: no-repeat;
  margin-top: 90px;
  height: 1150px;
  width: 2550px;
  
}


.wut{
  background-image: asset-url('wut.gif'); 
  position: absolute;
  top: 400px;
  left: 730px;
  height: 570px;
  width: 700px;
  // z-index: 6;
}