// Place all the styles related to the api/sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// .error-img{
// //  background-color: white;
//   background-image: asset-url('uhOh.JPG'); 
//   // position: sticky;
//   // background-color: grey;
//   height: 25vh;
//   background-position: center;
//   background-repeat: no-repeat;
//   background-size: cover;
//   // top: 10%; 
//   // left: 0; 
//   // min-height: 2080px;
//   // z-index: -1;
// }
.error-img{
background-image: asset-url('etsyUhOhpage.JPG');
  background-repeat: no-repeat;
  height: 2150px;
  width: 2550px;
}