/*
* This is a manifest file that'll be compiled into application.css, which will include all the files
* listed below.
*
* Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
* vendor/assets/stylesheets directory can be referenced here using a relative path.
*
* You're free to add application-wide styles to this file and they'll appear at the bottom of the
* compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
* files in this directory. Styles in this file should be added after the last require_* statement.
* It is generally better to create a new file per style scope.
*
*= require_tree .
*= require_self
*/

html {
  margin: 0;
  padding: 0;
}  

body {
  font-family: 'Guardian-EgypTT', serif;
  margin: 0;
}


header {
  padding-top: 10px;
  margin: 0%;
  display: flex;
  align-items: center;
  justify-content: center;
  justify-content: space-around;
    
}
.header-group{
  margin: 0%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

h1 {  
  margin: 0px;
  color:#f1651f 
}

a {
  font-size: medium;
  align-self: center;
}
input {
  padding: 10px;
  margin: 10px;
}
button {
  color: rgb(83, 83, 83);
  background: none;
  border: none;
  color: inherit;
  font: inherit;
  cursor: pointer;
  text-align: left;
  outline: none;
  text-decoration: none;
  -webkit-tap-highlight-color: transparent;
  -webkit-appearance: none;
  font-family: -apple-system,BlinkMacSystemFont,"Roboto","Droid Sans","Segoe UI","Helvetica",Arial,sans-serif;
  border-radius: 24px;
  display: inline-block;
  font-size: 16px;
  font-weight: bold;
  line-height: 1.5;
  min-height: 48px;
  min-width: 48px;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 18px;
  padding-right: 18px;
  position: relative;
  text-align: center;
  vertical-align: middle;
  z-index: 10;

}
 button:hover{
  background-size: 110%;
  background-color: rgb(240, 240, 240);
} 


.colorBar{
  margin-top: 0%;
  height: 100%;
  color: black;
  background-color: #fdebd2;
  text-align: center;

}
.mothersDay {
  padding-top: 15px;
  color: black;
  font-family: "Guardian-EgypTT",serif;
  font-weight: 300;
  font-size: 22px;
  line-height: 36px;
  background-color: #fdebd2;

}
.shopMothers{
  font-weight: bold;
  padding-bottom: 130px;
  background-color: #fdebd2;
  font-size: 15px;
    line-height: 28px;
  font-family: "Graphik Webfont",-apple-system,BlinkMacSystemFont,"Roboto","Droid Sans","Segoe UI","Helvetica",Arial,sans-serif;
  font-weight: 500;
}

.recentImages{
 margin-top: 50px;
 background-color: #ddebe3;
 height: 200px;
}



