/*
* This is a manifest file that'll be compiled into application.css, which will include all the files
* listed below.
*
* Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
* vendor/assets/stylesheets directory can be referenced here using a relative path.
*
* You're free to add application-wide styles to this file and they'll appear at the bottom of the
* compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
* files in this directory. Styles in this file should be added after the last require_* statement.
* It is generally better to create a new file per style scope.
*
*= require_tree .
*= require_self
*/

body {
  font-family: 'Guardian-EgypTT', serif;
}


header {
  margin: 0%;
  border-bottom: solid grey 1px;
  display: flex;
  justify-content: space-between;
  background-color: white;
  width: 100%;
}

h1 {
  
  margin-bottom: 0px;
  color:#eb6d20 
}

a {
  font-size: medium;
  align-self: center;
}
input {
  padding: 10px;
  margin: 10px;
}
.login-form-container {
  display: flex;
  justify-content: center;
  margin-top: 100px;
}

.login-form {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.login-input, .signup-input {
  border: .5px solid aliceblue;
  border-radius: 5px; 
  color: -internal-light-dark(black, white);
  transition: border 200ms ease-out,background 200ms ease-out;
  box-shadow: 0 1px 4px 0 rgb(34 34 34 / 10%) inset;
  border-color: rgba(34, 34, 34, 0.15);
  border-style: solid;
  border-width: 1px;
  border-radius: 6px;
  color: #222222;
  font-size: 16px;
  line-height: 28px;
  height: 48px;
  outline: none;
  padding-top: 9px;
  padding-bottom: 9px;
  padding-left: 12px;
  padding-right: 12px; 
 background-color: rgb(232, 240, 254);
}

.login-form-box {
  background: white;
  padding: 20px;
  border-radius: 25px;
  border: 2px ;
  font-size: larger;
}

.header-link {
  text-decoration: none;
  color: black;
}

hr {
  border-bottom: 1px solid grey;
}

.session-submit {
  background: none;
  border: none;
  color: white;
  font: inherit;
  cursor: pointer;
  text-align: left;
  outline: none;
  text-decoration: none;
  -webkit-tap-highlight-color: transparent;
  -webkit-appearance: none;
  font-family: -apple-system,BlinkMacSystemFont,"Roboto","Droid Sans","Segoe UI","Helvetica",Arial,sans-serif;
  border-radius: 24px;
  display: inline-block;
  font-size: 16px;
  font-weight: bold;
  line-height: 1.5;
  min-height: 48px;
  min-width: 48px;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 18px;
  padding-right: 18px;
  position: relative;
  text-align: center;
  vertical-align: middle;
  z-index: 10;
  background: #222222;

}

.login-signup {
  display: flex;
  float: right;
  cursor:pointer;
}

.session-submit{
  cursor:pointer;
}

.modal-background {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.7);
  z-index: 10;
}

.modal-child {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}